

<%= <table>
    <thead>
        <tr>
            <th colspan="2">Cats</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            < render 'cat', cat: @cat, page: :show>
        </tr>
    </tbody>
</table> %>